#image-container{
  height:100%;
  width:100%;
  background-image: url(defy_creations_landing_page.jpg);
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
  position:absolute;
}
#text-box{
  background-color: black;
  opacity:.95;
  position:absolute;
  bottom:0%;
  left:38.5%;
  height: 15%;
  width:25%;
  border-radius: 2%;
}
#defy_logo{
  height:200px;
  width:200px;
  position:fixed;
  bottom: -5%;
  left: 8%;
}
#center-text{
  font-size:22px;
  font-family:avant garde;
  position: absolute;
  bottom:8%;
  left:42.5%;
  color:white;
  z-index: 100;
}
#right-text{
  position: absolute;
  bottom:7%;
  right:9%;
  z-index: 100;
}
#kickstarter{
  height:30px;
  width: 210px;
}
#submit-button{
  position: absolute;
  width:100px;
  height:35px;
  bottom:3%;
  left:55%;
  color:white;
  z-index: 101;
}
#email-input{
  position: absolute;
  width:200px;
  bottom:3%;
  left:40%;
  z-index: 101;
}
